.spacer {
  height: 105px;
  width: 100%;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
  max-width: 1280px;

  main {
    flex-grow: 1;

    .logo {
      .st0 {
        fill: #ff6d00;
      }
    }
  }
}

footer {
  width: 100%;

  border-top: 1px solid #eaeaea;
  text-align: center;
  background-color: rgb(245, 245, 245);

  a {
    color: #ff6d00;
    &:hover {
      text-decoration: none;
      color: darken($color: #ff6d00, $amount: 5%);
    }
  }
}
